*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/b.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 15px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 225px;
    height: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FFF0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text {
    margin-top: 10%;
    font-size: 60px;
}

.header-text p{
    margin-top: 20px;
    font-size: 30px;
}

.header-text h1 span{
    color: #00FFF0;
}

/* about */

#about{
    padding: 80px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    flex-wrap: wrap;
    gap: 50px; /* Optional: add a small gap if needed */
}

.about-col-2 {
    flex-basis: 60%;
    order: 1;
    text-align: left;
}

.about-col-1 {
    flex-basis: 35%;
    order: 2;
    text-align: right;
}


.about-col-1 img {
    width: 100%; /* Adjust as needed */
    max-width: 470px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}


.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #7ffaf2;
}

.sub{
    font-size: 18px;
    font-weight: 150;
    text-align: justify;

}

/* aboutfounder */

#aboutFounder{
    padding: 10px 70px;
    color: #ababab;
}

.row1 {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    flex-wrap: wrap;
    gap: 5px; /* Optional: add a small gap if needed */
}

.about-col-4 {
    flex-basis: 60%;
    order: 1;
    text-align: left;
}

.about-col-3 {
    flex-basis: 35%;
    order: 2;
    text-align: right;
}


.about-col-3 img {
    width: 100%; /* Adjust as needed */
    max-width: 300px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}

.founder-text {
    margin-top: 10px; /* Adjust margin as needed */
    font-size: 17px;
    color: #ababab; /* Adjust color as needed */
    text-align: left; /* Align text to the left */
    margin-left: 160px; /* Adjust margin-left as needed */
}

/* .sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #00FFF0;
} */

.sub1{
    font-size: 18px;
    font-weight: 50;
    text-align: justify;

} 

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FFF0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}

.tab-contents ul li span{
    color: #7ffaf2;
    font-size: 14px;

}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.btn.btn2{
    display: inline-block;
    background: #19c9be;
}

/* services */

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;   
}

.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #eaeaea;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #09d2c4;
    transform: translateY(-10px);
}

/* portfolio */

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6 ), #19c9be);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 15px;
    transition: height 0.5s;
    font-weight: 500;
}

.layer h3{
    font-weight: 700;
    margin-bottom: 10px;
}

.layer a{
    margin-top: 10px;
    color: #09d2c4;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
    
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #09d2c4;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #09d2c4;
}

/* contact */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    color: #19c9be;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #09d2c4;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #1e1e1e;
    font-weight: 300;
    margin-top: 20px;
}


/* css for small screen  */

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/bSmall.jpg);
    }
}